@using RapidTime.Frontend.ProtoClients
@inject CustomerGrpcClient _customerGrpcClient
@inject CompanyTypeGrpcClient _companyTypeGrpcClient

<h3>Opret kunde</h3>

<EditForm Model="_model" OnValidSubmit="CreateCustomer">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <div class="col-md-3">
            <label for="CustomerName">Firmanavn</label>
            <InputText id="CustomerName" @bind-Value="_model.Name"></InputText>
        </div>
        
        <div class="col-md-3">
            <select class="form-control" @bind="@_model.CompanyTypeId">
                <option selected disabled="true"> -- Vælg virksomhedstype --</option>
                @foreach (var companyType in _companyTypes)
                {
                    <option title="@companyType.CompanyTypeName" value="@companyType.Id">@companyType.CompanyTypeName</option>
                }
            </select>
        </div>
        
        <div class="col-md-3">
            <label for="CvrNumber">CVR nummer</label>
            <InputNumber id="CvrNumber" @bind-Value="_model.CvrNumber"></InputNumber>
        </div>
        
        <div class="col-md-3">
            <label for="InvoiceEmail">Faktura email</label>
            <InputText id="InvoiceEmail" @bind-Value="_model.InvoiceEmail"></InputText>
        </div>
        
        @* SKAL DEN LAVES SOM DROPDOWN? *@
        <div class="col-md-3">
            <label for="InvoiceCurrency">Faktura valuta</label>
            @* <InputText id="InvoiceCurrency" @bind-Value="_model.InvoiceCurrency"></InputText> *@
            <InputSelect id="InvoiceCurrency" @bind-Value="_model.InvoiceCurrency">
                @foreach (var currency in Enum.GetValues(typeof(CreateCustomerResource.InvoiceCurrencyEnum)))
                {
                    <option value="@currency">@currency</option>
                }
            </InputSelect>
        </div>
        
        <div class="col-md-3">
            <label for="YearlyReview">Dato for årsregnskab</label>
            <InputDate id="YearlyReview" @bind-Value="_model.YearlyReview"></InputDate>
        </div>
        
        <div class="col-md-3">
            <button type="submit" class="btn btn-success">Gem</button>
        </div>
    </div>
</EditForm>

@code {

}
