@page "/Kunder"
@using System.Globalization
@inject CustomerGrpcClient _customerGrpcClient
@inject NavigationManager _navigationManager

<CreateCustomerComponent ExternalMethod="@UpdateThis"/>

<h3>Kundeoversigt</h3>
<ListItemsComponent Items="@_customers">
    <TableHeader>
        <th>Firmanavn</th>
        <th>Virksomhedstype</th>
        <th>Regnskabsdato</th>
        <th>Faktureringsvaluta</th>
        <th>Faktura Email</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Name</td>
        <td>@context.CompanyType.CompanyTypeName</td>
        <td>@context.YearlyReview.ToDateTime().Date.ToString("d", CultureInfo.CurrentCulture)</td>
        <td>@context.InvoiceCurrency</td>
        <td>@context.InvoiceEmail</td>
        <td><button type="button" class="btn btn-primary" @onclick="@(() => _navigationManager.NavigateTo("/Kunder/"+@context.Id))">Opgaver</button> </td>
        <td><button type="button" class="btn btn-danger" @onclick="@(() => DeleteCustomer(@context.Id))">Slet</button></td>
    </RowTemplate>
</ListItemsComponent>

@code {
    private List<CustomerResponse> _customers;

    protected override void OnInitialized()
    {
        _customers = _customerGrpcClient.GetAllCustomers();
        base.OnInitialized();
    }

    private void UpdateThis()
    {
        _customers = _customerGrpcClient.GetAllCustomers();
        StateHasChanged();
    }

    private void DeleteCustomer(int customerId)
    {
        _customerGrpcClient.DeleteCustomer(customerId);
        UpdateThis();
    }
}
